<button mat-icon-button [matMenuTriggerFor]="menu" class="roundedButton" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu" style="padding: 10px">
  <section mat-menu-item disabled (click)="$event.stopPropagation()">Felder auswählen:</section>
  <section mat-menu-item>
    <mat-select [formControl]="showFieldsForm" (selectionChange)="this.selectionChange.emit($event)" multiple>
      <mat-option *ngFor="let entry of entries" [value]="entry.value">
        {{ entry.viewValue }}
      </mat-option>
      <mat-optgroup *ngFor="let group of formFieldGroups" [label]="group.name">
        <mat-option *ngFor="let formField of group.fields" [value]="formField.value">
          {{ formField.viewValue }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </section>

  <!--          <section>-->
  <!--          <mat-checkbox (click)="$event.stopPropagation()">Check Me</mat-checkbox>-->
  <!--          </section>-->
  <!--          <section>-->
  <!--            <mat-checkbox (click)="$event.stopPropagation()">Check Me</mat-checkbox>-->
  <!--          </section>-->
  <!--          <section>-->
  <!--              <mat-checkbox (click)="$event.stopPropagation()">Check Me</mat-checkbox>-->
  <!--          </section>-->
</mat-menu>
