.mat-expansion-panel-header {
  padding: 0 12px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 12px 12px !important;
}

.mat-column-key, .mat-column-value {
  padding: 0 3px !important
}

.expansion-panel-title {
  font-size: 20px;
  font-weight: 500;
}

.sidenav-header {
  padding: 5px 15px;
}

.favorite-links-list {
  margin-top: 20px;
}

.mat-card-subtitle {
  font-size: 12px;
  margin-bottom: 0;
}

.mat-card-title {
  text-overflow: ellipsis;
  line-height: 1.2;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0;
}

::ng-deep .mat-content {
  padding: 0 3px;
}

.project-info {
  display: inline-block;
}

.roundedButton {
  border-radius: 50%;
  min-width: 36px;
  padding: 0;
}

table {
  width: 100%;
}

tr.example-element-row:hover {
  background: whitesmoke;
}

.example-element-row td {
  border-bottom-width: 0;
}
