mat-sidenav {
  width: 240px;
  background-color: white;
  height: 100%;
}

.sidenav-header {
  padding: 5px 15px;
}

.favorite-links-list {
  margin-top: 20px;
}

.mat-card-subtitle {
  margin-bottom: 0;
}
