.sidenav-header {
  padding: 5px 15px;
}

.favorite-links-list {
  margin-top: 20px;
}

.mat-card-subtitle {
  margin-bottom: 0;
}

.mat-card-title {
  text-overflow: ellipsis;
  line-height: 1.2;
  overflow: hidden;
  width: 220px;
}

.project-info {
  display: inline-block !important;
}
