<ng-container *ngIf="timeline">
  <div class="sidenav-header" fxLayout="row nowrap" style="justify-content: space-between">
    <div>
      <div class="mat-card-title">
        {{ timeline.name }}
      </div>
      <div class="project-info">
        <div class="mat-card-subtitle">
          {{ timeline.projectType }}
        </div>
        <div class="mat-card-subtitle">
          {{ roles }}
        </div>
      </div>
    </div>
    <div>
      <button mat-button class="roundedButton" (click)="openProjectSettingsDialog()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</ng-container>
<mat-nav-list>
  <app-nav-menu-list-item *ngFor="let item of navMenuItems" [item]="item"></app-nav-menu-list-item>
</mat-nav-list>
<mat-nav-list class="favorite-links-list">
  <app-nav-menu-list-item *ngFor="let item of favoriteLinkItems" [item]="item"></app-nav-menu-list-item>
</mat-nav-list>
