<div *ngIf="timeline" class="sidenav-header">
  <div class="mat-card-title">
    {{ timeline.name }}
  </div>
  <div class="project-info">
    <div class="mat-card-subtitle">
      {{ timeline.projectType }}
    </div>
    <div class="mat-card-subtitle">
      {{ roles }}
    </div>
  </div>

  <button style="float: right" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      *ngIf="project"
      mat-menu-item
      title="Projekt archivieren"
      aria-label="Projekt archivieren"
      (click)="archiveProject()"
    >
      <mat-icon>archive</mat-icon>
      Projekt archivieren
    </button>
  </mat-menu>
</div>
<mat-nav-list>
  <app-nav-menu-list-item *ngFor="let item of navMenuItems" [item]="item"></app-nav-menu-list-item>
</mat-nav-list>
<mat-nav-list class="favorite-links-list">
  <app-nav-menu-list-item *ngFor="let item of favoriteLinkItems" [item]="item"></app-nav-menu-list-item>
</mat-nav-list>
