<ng-container [formGroup]="controlContainer.control">
  <div formArrayName="data">
    <ng-container *ngFor="let person of personsArray.controls; let i = index">
      <div [formGroupName]="i">
        <ng-container formArrayName="formFields">
          <ng-container *ngFor="let formField of getFormFieldsArray(i).controls; let j = index">
            <ng-container [formGroupName]="j">
              <mat-form-field *ngIf="formField.get('show')?.value">
                <mat-label>{{ formField.get('label')?.value }}</mat-label>
                <input
                  matInput
                  [placeholder]="formField.get('placeholder').value"
                  formControlName="value"
                  [id]="formField.get('key')?.value"
                  [value]="formField.get('value')?.value"
                  (focus)="onFocus($event, ['results', 'data', i, 'formFields', j, 'value'])"
                  (keyup.esc)="onEscape($event, ['results', 'data', i, 'formFields', j, 'value'])"
                />
                (change)="onSubmit(formGroup)"
              </mat-form-field>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
    <span class="">
      <button type="button" mat-button (click)="addPerson()">
        <mat-icon>add_circle</mat-icon>
        Neue Kontaktperson
      </button>
    </span>
  </div>
</ng-container>
