<a
  mat-list-item
  appInvalidLinkCheck
  class="menu-list-item"
  [isExternalLink]="!item.isRoute && !item.children"
  [ngStyle]="{ 'padding-left': depth * 15 + 'px' }"
  (auxclick)="auxClick($event)"
  (myClick)="onItemSelected(item)"
  [ngClass]="{ active: item.isRoute ? router.isActive(item.url, true) : false, expanded: expanded }"
  [routerLink]="routerLink(item)"
  [href]="!item.isRoute && !item.isFile ? item.url : null"
>
  <mat-icon class="routeIcon">{{ item.icon }}</mat-icon>
  <span class="full-width">{{ item.name }}</span>
  <span class="d-flex" *ngIf="!item.isRoute && !item.children">
    <mat-icon class="icon-small"> open_in_new </mat-icon>
  </span>
  <span class="d-flex" *ngIf="item.children && item.children.length">
    <mat-icon [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'"> expand_more </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-nav-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth + 1">
  </app-nav-menu-list-item>
</div>
