<a
  mat-list-item
  class="menu-list-item"
  appInvalidLinkCheck
  [ngStyle]="{ 'padding-left': depth * 15 + 'px' }"
  (myClick)="onItemSelected(item)"
  [ngClass]="{ active: item.route ? router.isActive(item.route, true) : false, expanded: expanded }"
  [href]="item.file ? baseApiPath + item.file : !item.route && !item.children ? item.url : null"
  [download]="item.file"
>
  <mat-icon class="routeIcon">{{ item.icon }}</mat-icon>
  <span class="full-width">{{ item.name }}</span>
  <span class="d-flex" *ngIf="!item.route && !item.children">
    <mat-icon class="icon-small"> open_in_new </mat-icon>
  </span>
  <span class="d-flex" *ngIf="item.children && item.children.length">
    <mat-icon [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'"> expand_more </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-nav-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth + 1">
  </app-nav-menu-list-item>
</div>
