<ng-form>
  <form [formGroup]="formGroup">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <mat-form-field fxFlex="100%">
        <mat-label>Titel</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          (change)="formValueChanged.emit(formGroup)"
          cdkFocusInitial
          required
        />
        <mat-error *ngIf="!formGroup.get('name').valid">Bitte Feld ausfüllen.</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="100%">
        <mat-label>Tage seit Projektbeginn</mat-label>
        <input matInput type="text" formControlName="dateOffset" (change)="formValueChanged.emit(formGroup)" required />
        <mat-error *ngIf="!formGroup.get('dateOffset').valid">Bitte Feld ausfüllen.</mat-error>
      </mat-form-field>
    </div>
  </form>
</ng-form>
