<ng-container [formGroup]="controlContainer.control">
  <div formArrayName="data">
    <ng-container *ngFor="let cart of cartsArray.controls; let i = index">
      <div [formGroupName]="i">
        <ng-container formArrayName="formFields">
          <ng-container *ngFor="let formField of getFormFieldsArray(i).controls; let j = index">
            <ng-container [formGroupName]="j">
              <mat-form-field *ngIf="formField.get('show')?.value">
                <mat-label>{{ formField.get('label')?.value }}</mat-label>

                <div [ngSwitch]="formField.get('controlType')?.value">
                  <input
                    *ngSwitchCase="'TEXTBOX'"
                    matInput
                    [placeholder]="formField.get('placeholder').value"
                    formControlName="value"
                    [id]="formField.get('key')?.value"
                    [value]="formField.get('value')?.value"
                    (focus)="onFocus($event, ['results', 'data', i, 'formFields', j, 'value'])"
                    (keyup.esc)="onEscape($event, ['results', 'data', i, 'formFields', j, 'value'])"
                  />
                  <textarea
                    *ngSwitchCase="'TEXTAREA'"
                    matInput
                    matTextareaAutosize
                    matAutosizeMinRows="1"
                    matAutosizeMaxRows="5"
                    [placeholder]="formField.get('placeholder').value"
                    formControlName="value"
                    [id]="formField.get('key')?.value"
                    [value]="formField.get('value')?.value"
                    (change)="dataChanged.emit()"
                    (focus)="onFocus($event, ['results', 'data', i, 'formFields', j, 'value'])"
                    (keyup.esc)="onEscape($event, ['results', 'data', i, 'formFields', j, 'value'])"
                  >
                  </textarea>
                  <mat-select *ngSwitchCase="'DROPDOWN'" formControlName="value">
                    <mat-option *ngFor="let opt of formField.get('options')?.value" [value]="opt.key">
                      {{ opt.value }}
                    </mat-option>
                  </mat-select>
                </div>
              </mat-form-field>
            </ng-container>
          </ng-container>
        </ng-container>

        <!--        <ng-container formArrayName="formFields">-->
        <!--          <ng-container *ngFor="let formField of getFormFieldsArray(i).controls; let j = index">-->
        <!--            <ng-container [formGroupName]="j">-->
        <!--              <mat-form-field *ngIf="formField.get('show')?.value">-->
        <!--                <mat-label>{{ formField.get('label')?.value }}</mat-label>-->
        <!--                <input-->
        <!--                  matInput-->
        <!--                  [placeholder]="formField.get('placeholder').value"-->
        <!--                  formControlName="value"-->
        <!--                  [id]="formField.get('key')?.value"-->
        <!--                  [value]="formField.get('value')?.value"-->

        <!--                  (focus)="onFocus($event, ['results', 'data', i, 'formFields', j, 'value'])"-->
        <!--                  (keyup.esc)="onEscape($event, ['results', 'data', i, 'formFields', j, 'value'])"-->
        <!--                />-->
        <!--                (change)="onSubmit(formGroup)"-->
        <!--              </mat-form-field>-->
        <!--            </ng-container>-->
        <!--          </ng-container>-->
        <!--        </ng-container>-->
      </div>
    </ng-container>
    <span class="">
      <button type="button" mat-button (click)="addCart()">
        <mat-icon>add_circle</mat-icon>
        Neuer Einkaufswagen
      </button>
    </span>
  </div>
</ng-container>
