<ng-container [formGroup]="controlContainer.control">
  <div formArrayName="data">
    <ng-container *ngFor="let defaultTask of defaultTaskArray.controls; let i = index">
      <div [formGroupName]="i">
        <ng-container formArrayName="formFields">
          <ng-container *ngFor="let formField of getFormFieldsArray(i).controls; let j = index">
            <ng-container [formGroupName]="j">
              <mat-form-field *ngIf="formField.get('show')?.value">
                <mat-label>{{ formField.get('label')?.value }}</mat-label>
                <input
                  matInput
                  [placeholder]="formField.get('placeholder').value"
                  formControlName="value"
                  [id]="formField.get('key')?.value"
                  [value]="formField.get('value')?.value"

                  (focus)="onFocus($event, [formField.get('key')?.value])"
                  (keyup.esc)="onEscape($event, [formField.get('key')?.value])"
                />
                (change)="onSubmit(formGroup)"
              </mat-form-field>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
