<ng-container [formGroup]="controlContainer.control">
  <div formArrayName="data">
    <ng-container *ngFor="let defaultTask of defaultTaskArray.controls; let i = index">
      <div [formGroupName]="i">
        <ng-container>
          <div class="appointmentSeries">
            <mat-form-field>
              <mat-label>Ergebnis</mat-label>
              <input
                matInput
                placeholder="Ergebnis"
                formControlName="result"
                (change)="this.dataChanged.emit()"
                (focus)="onFocus($event, ['results', 'data', i, 'result'])"
                (keyup.esc)="onEscape($event, ['results', 'data', i, 'result'])"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Status</mat-label>
              <mat-select formControlName="status" (selectionChange)="this.dataChanged.emit()">
                <mat-option *ngFor="let status of statusList" [value]="status.value">
                  {{ status.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
