<div id="gantt" #gantt>

  <div class="container">
    <div class="row justify-content-between">
      <div class="col">
        <div class="row justify-content-start">
          <div *ngIf="timelineData" class="col">
            <mat-form-field appearance="fill" floatLabel="always">
              <mat-label>Vorhabensart</mat-label>
              <mat-select [(value)]="selectedProjectTypeId" (selectionChange)="changeProjectType($event)">
                <mat-option *ngFor="let projectType of projectTypesList"
                            [value]="projectType.id">
                  {{ projectType.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="timelineData" class="col">
            <mat-form-field appearance="fill" floatLabel="always">
              <mat-label>Vorgehensweise</mat-label>
              <mat-select [(value)]="selectedProjectApproachId" (selectionChange)="changeProjectApproach($event)">
                <mat-option *ngFor="let projectApproach of filterProjectApproaches()"
                            [value]="projectApproach.id">
                  {{ projectApproach.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col">
        <mat-button-toggle-group name="chartMetric" #group="matButtonToggleGroup" multiple aria-label="Chart Metric" [(ngModel)]="viewTypeSelected" (change)="changeViewType($event)">
          <mat-button-toggle class="md-button" value="YEARS">Jahre</mat-button-toggle>
          <mat-button-toggle class="md-button" value="MONTHS">Monate</mat-button-toggle>
          <mat-button-toggle class="md-button" value="WEEKS">Wochen</mat-button-toggle>
          <mat-button-toggle class="md-button" value="DAYS">Tage</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button (click)="getIcsCalendarFile()"
                mat-raised-button
                title="Exportiere Meilensteine im iCal Format"
                aria-label="Exportiere Meilensteine im iCal Format">
          <mat-icon>event_note</mat-icon>
          Export
        </button>
      </div>
      <div class="col mat-form-field--inline">
        <mat-form-field appearance="fill">
          <mat-label>Anfang Zeitachse</mat-label>
          <input matInput [matDatepicker]="picker1" [value]="periodStartDate"
          (dateChange)="changeStartDate('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Ende Zeitachse</mat-label>
          <input matInput [matDatepicker]="picker2" [value]="periodEndDate"
          (dateChange)="changeEndDate('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class = "row">
      <button mat-button color="accent" (click)="addIncrement($event)">Inkrement hinzufügen</button>
    </div>
    <div class = "row">
      <button mat-button color="accent" (click)="deleteIncrement($event)">Inkrement löschen</button>
    </div>

    <div class="row">
      <div class="col">
        <ng-container *ngIf="vm$ | async as vm">
          <app-chart #ganttChart
                     [timelineData]="vm.selectedTimeline"
                     [milestoneData]="vm.milestoneData"
                     [taskData]="vm.taskData"
          ></app-chart>
        </ng-container>
      </div>
    </div>
  </div>

</div>

