<div class="sidenavToggleMenuBar">
  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
</div>
<mat-sidenav-container class="mat-sidenav-container" autosize [hasBackdrop]="mobileQuery.matches">
  <mat-sidenav
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56"
    opened="true"
    class="sidenav mat-elevation-z3"
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
