.mat-form-field--inline .mat-form-field {
  margin-right: 10px;
}

.gantt {
  margin: 5px;
}

.content-container {
  margin: 10px;
  margin-left: 20px;
  width: 90%;
}

.mat-sidenav-container {
  padding: 10px;
  width: 100%;
  background-color: white;
  margin-top: 5px;
  
}

mat-sidenav-content {
  background-color: white;
  align-items: center;
  justify-content: center;
}

mat-sidenav {
  width: 15%;
  background-color: white;
  height: 100%;
}

h1 {
  color: rgb(97, 27, 114);
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.2em;
  line-height: 1.3em;
}