mat-card{
    border-radius: 10px;
    border: 2px solid rgb(188, 24, 229);
    box-shadow: 5px 20px;
    padding: 3px;
    text-align:center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: rgb(188, 24, 229);
}

.row {
    align-items: center;
    display: flex;
}