<h1>Übersicht über alle Projekte: </h1>
<div class="container">
    <div class="row justify-content-center">
        <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <ng-container *ngFor="let vm of vmAll$ | async">
        <div class="row justify-content-start">
            <div class="col">
                <h2>{{vm.timeline.name}}</h2>
            </div>
            <div class="col">
                <mat-card>
                    <mat-card-content>
                        <p class="mat-body-strong">{{vm.projectType.name}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card>
                    <mat-card-content>
                        <p class="mat-body-strong">{{vm.projectApproach.name}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div id="gantt{{vm.timeline.id}}" class="gantt">
            <app-chart #charts
                    [timelineData]="vm.timeline"
                    [milestoneData]="vm.milestoneData"
                    [taskData]="vm.taskData"
                    [incrementsData]="vm.incrementsData"
                    id = "overview{{vm.timeline.id}}"
            ></app-chart>
        </div>
    </ng-container>
</div>