mat-card{
    border-radius: 10px;
    border: 2px solid rgb(197, 13, 151);
    height: calc(100% - 10px);
    box-shadow: 5px 20px;
    padding: 10px;
}

h1 {
    text-align: center;
}

mat-spinner {
    text-align: center;
}