mat-card{
    border-radius: 10px;
    border: 2px solid rgb(197, 13, 151);
    box-shadow: 5px 20px;
    padding: 3px;
    text-align:center;
}

h1 {
    text-align: center;
}

mat-spinner {
    text-align: center;
}