<script src="../../../chart/chart.component.ts"></script>
<app-chart-header
  [timelineData]="timelineData"
  [active]="false"
  [userHasProjectEditRights]="userHasProjectEditRights"
  [showTitle]="false"
  [projectApproachModifiable]="true"
  (projectTypeChanged)="projectTypeChanged.emit($event)"
  (operationTypeChanged)="operationTypeChanged.emit($event)"
  (projectApproachChanged)="projectApproachChanged.emit($event)"
></app-chart-header>

<div class="chart">
  <figure id="chart" (resized)="onResized($event)" #templateChart></figure>
</div>
