<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step
    *ngFor="let step of stepperData; let firstStep = first"
    [stepControl]="firstFormGroup"
    [optional]="step.optional"
    [completed]="false"
  >
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>{{ step.title }}</ng-template>
      <p *ngIf="step.explanation" class="stepExplanation">{{ step.explanation }}</p>
      <mat-form-field>
        <mat-label>Ansprechpartner</mat-label>
        <input matInput placeholder="Name, Vorname" formControlName="contactPersonCtrl" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Dokumentationsort</mat-label>
        <input matInput placeholder="Link" formControlName="documentationLinkCtrl" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ergebnis</mat-label>
        <input matInput placeholder="Ergebnis" formControlName="resultCtrl" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="statusCtrl">
          <mat-option *ngFor="let status of statusList" [value]="status.value">
            {{ status.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button *ngIf="!firstStep" mat-button matStepperPrevious>Zurück</button>
        <button mat-button matStepperNext>Nächste</button>
        <button mat-raised-button color="primary" class="stepDoneButton" (click)="stepper.selected.completed = true">
          <mat-icon aria-hidden="false" aria-label="done icon">done</mat-icon>
          Schritt abschließen
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Fertig</ng-template>
    <p class="stepExplanation">Alles erledigt :)</p>
    <div>
      <button mat-button matStepperPrevious>Zurück</button>
      <button mat-button (click)="stepper.reset()">Zurücksetzen</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
