.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  margin-left: 16px;
}

.mat-form-field + .mat-form-field {
  margin-left: 16px;
}

.stepDoneButton {
  margin-left: 20px;
}

.stepExplanation {
  margin-top: 20px;
}


