.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  margin-left: 16px;
}

.stepExplanation {
  margin: 20px 0 0;
}

.mat-mini-fab .mat-button-wrapper {
  padding: 0;
  line-height: 20px;
}

