<h2 class="project-checklist-header">Projektcheckliste</h2>
<ng-container *ngIf="projectTasks?.length; else noProjectTask">
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step
      *ngFor="let task of projectTasks"
      [stepControl]="formGroup"
      [optional]="task.optional"
      [completed]="task.completed"
      [state]="task.completed ? 'done' : 'number'"
    >
      <ng-template matStepLabel>
        <div class="ellipsis" title="{{ task.title }}">{{ task.title }}</div>
        <div
          class="ellipsis"
          style="font-weight: 500; font-size: 12px; color: rgba(0, 0, 0, 0.54)"
          title="{{ task.explanation }}"
        >
          {{ task.explanation }}
        </div>
      </ng-template>
      <app-project-task-form
        [selectedTimelineId]="selectedTimelineId"
        [taskData]="task"
        (stepStatusChanged)="stepStatusChanged(stepper, $event)"
      ></app-project-task-form>
    </mat-step>
  </mat-vertical-stepper>
</ng-container>
<ng-template #noProjectTask>
  <p>Es gibt derzeit noch keine Aufgabenliste für diese Projektgröße bzw. diese Vorhabensart</p>
</ng-template>
