//.full-width-spacer {
//  flex: 1 1 auto;
//}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.roundedButton {
  border-radius: 50%;
  margin-left: 16px;
  min-width: 36px;
  padding: 0;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  margin-left: 16px;
}

.stepExplanation {
  margin: 20px 0 0;
}



