.mat-card-content {
  margin-bottom: 0;
}

h2 {
  background: rgba(63, 81, 181, 0.15);
  color: #3f51b5;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 4px;
}
