<div class="container">
  <section *ngFor="let item of projectFlowItems">
    <div class="row">
      <div class="col-12">
        <h2>
          {{ item.name }}
        </h2>
      </div>
    </div>
    <div class="row">
      <ng-container *ngIf="item.actions.length > 0; else noItems">
        <div class="col-md-6 my-2" *ngFor="let action of item.actions">
          <mat-card class="card-container">
            <mat-card-content>{{ action.explanation }}</mat-card-content>
            <mat-card-actions>
              <app-external-link
                *ngFor="let link of action.links"
                [url]="link.url"
                [title]="link.name"
              ></app-external-link>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>
      <ng-template #noItems>
        <div class="col-md-6 my-2">
          <mat-card class="card-container">
            <mat-card-content>Das Reiseziel ist noch unbekannt.</mat-card-content>
          </mat-card>
        </div>
      </ng-template>
    </div>
  </section>
</div>
