<div id="gantt" class="gantt" #gantt>
    <mat-sidenav-container autosize>
      <mat-sidenav mode="side" opened="true" class="sidenav">
  
        <ng-container *ngIf="vm$ | async as vm">
          <div class="sidenav-header">
            <div class="mat-card-title">
              {{vm.selectedTimeline.name}}
            </div>
            <div class="mat-card-subtitle">
              {{vm.selectedTimeline.projectType}}
            </div>
          </div>
  
          <mat-nav-list>
            <app-nav-menu-list-item *ngFor="let item of navMenuItems" [item]="item"></app-nav-menu-list-item>
          </mat-nav-list>
          <mat-nav-list class="favorite-links-list">
            <app-nav-menu-list-item *ngFor="let item of favoriteLinkItems" [item]="item"></app-nav-menu-list-item>
          </mat-nav-list>
  
        </ng-container>
      </mat-sidenav>
      <mat-sidenav-content class="content-container">
        <div >
            <ng-container *ngIf="vm$ | async as vm">
                <app-templates #templateChart
                          [timelineData]="vm.selectedTimeline"
                          [templateData]="vm.templateData"
                      
                          id = "template{{vm.selectedTimeline.id}}"
                ></app-templates>
            </ng-container>
        </div>
        
      </mat-sidenav-content>
</mat-sidenav-container>
</div>
