.full-width-spacer {
  flex: 1 1 auto;
}

.mat-form-field--inline .mat-form-field {
  margin-right: 10px;
}

.content-container {
  margin: 10px;
  padding-left: 10px;
}

.mat-sidenav-container {
  width: 100%;
  height: calc(100vh - 84px);
  background-color: transparent;
  margin-top: 15px;
}

mat-sidenav-content {
  background-color: white;
  align-items: center;
  justify-content: center;
}

.operationType-container {
  display: inline-block;
  padding: 6px 9px 9px 9px;
  background-color: rgba(0, 0, 0, 0.04);
  width: 190.5px;
  height: 51.326px;
  border-bottom: 0.5px solid grey;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.label {
  width: 100%;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin: 0;
}

.name {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.template-controller {
  position: absolute;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.template-controller-container {
  position: relative;
  width: 160px;
}

.template-controller-column {
  display: inline-flex;
}

.logo {
  width: 100px;
}

button {
  margin: 5px;
}

.button-template {
  text-align: center;
}

.text-template {
  margin: 0;
}

.full-width {
  width: 100%;
}
