<div id="gantt" class="gantt" #gantt>
  <div class="content-container">
    <span style="display: flex; margin-bottom: 10px">
      <span class="full-width-spacer"></span>
      <mat-button-toggle-group
        name="chartMetric"
        #group="matButtonToggleGroup"
        multiple
        aria-label="Chart Metric"
        [(ngModel)]="viewTypeSelected"
        (change)="changeViewType($event)"
      >
        <mat-button-toggle class="md-button" value="YEARS">Jahre</mat-button-toggle>
        <mat-button-toggle class="md-button" value="MONTHS">Monate</mat-button-toggle>
        <mat-button-toggle class="md-button" value="WEEKS">Wochen</mat-button-toggle>
        <mat-button-toggle class="md-button" value="DAYS">Tage</mat-button-toggle>
      </mat-button-toggle-group>
    </span>
    <ng-container *ngIf="vm$ | async as vm">
      <app-chart
        #ganttChart
        [timelineData]="vm.selectedTimeline"
        [milestoneData]="vm.milestoneData"
        [taskData]="vm.taskData"
        [incrementsData]="vm.incrementsData"
        id="gantt{{ vm.selectedTimeline.id }}"
        [active]="false"
        [showTitle]="false"
        [projectApproachModifiable]="true"
        [showActions]="true"
        (projectApproachChanged)="setData()"
      ></app-chart>
    </ng-container>
  </div>
</div>
<div *ngIf="appointmentsList">
  <mat-card
    *ngIf="overdueAppointments.length > 0"
    class="appointments-card"
    style="background-color: rgba(255, 0, 0, 0.08)"
  >
    <mat-card-content>
      <div class="matCardContentHeader" style="color: white; background-color: rgba(255, 0, 0, 0.8)">
        <div fxLayout="row wrap">
          <div class="matCardContentHeaderTitle ellipsis" style="margin: 12px 0">
            <mat-icon style="margin-right: 5px">warning_amber</mat-icon>
            Überfällige Termine
          </div>
        </div>
      </div>

      <div *ngFor="let appt of overdueAppointments">
        <ng-container [ngSwitch]="appt.resultType">
          <div class="appointmentTypeIcon">
            <ng-container *ngSwitchCase="'TYPE_SINGLE_APPOINTMENT'">
              <span class="circle" title="Einzeltermin">E</span>
            </ng-container>
            <ng-container *ngSwitchCase="'TYPE_APPT_SERIES'">
              <span class="circle" title="Terminserie">S</span>
            </ng-container>
          </div>
        </ng-container>
        <div fxLayout="row wrap" fxLayoutGap="12px grid" style="padding-bottom: 20px">
          <div
            fxFlex="33%"
            fxFlex.xs="100%"
            fxFlex.sm="100%"
            fxFlex.md="100%"
            fxFlex.lg="33%"
            *ngFor="let formField of appt.formFields"
          >
            <ng-container *ngIf="formField.key !== 'status'">
              <mat-form-field class="noHint full-width">
                <mat-label>{{ formField.label }}</mat-label>
                <input [type]="formField.type.toLowerCase()" matInput [value]="formField.value" disabled />
                <mat-icon
                  *ngIf="formField.key === 'date'"
                  matSuffix
                  style="color: rgba(255, 0, 0, 0.8)"
                  title="Termin ist überfällig"
                  >error</mat-icon
                >
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="formField.key === 'status'">
              <mat-form-field class="noHint full-width">
                <mat-label>{{ formField.label }}</mat-label>
                <mat-select
                  [value]="formField.value"
                  (selectionChange)="changeStatus($event.value, appt.id, formField.id)"
                >
                  <mat-option *ngFor="let opt of formField.options" [value]="opt.key">
                    {{ opt.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="appointments-card">
    <mat-card-content>
      <div class="matCardContentHeader">
        <div fxLayout="row wrap" fxLayoutGap="10px grid">
          <div
            fxFlex="33%"
            fxFlex.xs="100%"
            fxFlex.sm="100%"
            fxFlex.md="100%"
            fxFlex.lg="100%"
            style="margin-top: 12px"
          >
            <div class="matCardContentHeaderTitle ellipsis">
              <mat-icon style="margin-right: 5px">event_note</mat-icon>
              Offene Termine
            </div>
          </div>
          <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="50%">
            <mat-form-field class="noHint full-width" fxFlex="50%">
              <mat-label>Start Datum</mat-label>
              <input
                matInput
                placeholder="Start date"
                [value]="apptStartDate"
                [max]="apptEndDate"
                (change)="onChangeAppointmentPeriodStart($event)"
                type="date"
              />
            </mat-form-field>
            <mat-form-field class="noHint full-width" fxFlex="50%">
              <mat-label>End Datum</mat-label>
              <input
                matInput
                placeholder="End date"
                [value]="apptEndDate"
                [min]="apptStartDate"
                (change)="onChangeAppointmentPeriodEnd($event)"
                type="date"
              />
            </mat-form-field>
          </div>
          <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="50%">
            <mat-form-field class="noHint full-width">
              <mat-label>Zeitraum</mat-label>
              <mat-select [value]="periodTemplate" (selectionChange)="changePeriodTemplates($event.value)">
                <mat-option *ngFor="let period of schedulePeriods" [value]="period.key">
                  {{ period.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <ng-container *ngIf="appointmentsInPeriod.length > 0; else noAppointments">
        <ng-container *ngFor="let appt of appointmentsInPeriod">
          <ng-container [ngSwitch]="appt.resultType">
            <div class="appointmentTypeIcon">
              <ng-container *ngSwitchCase="'TYPE_SINGLE_APPOINTMENT'">
                <span class="circle" title="Einzeltermin">E</span>
              </ng-container>
              <ng-container *ngSwitchCase="'TYPE_APPT_SERIES'">
                <span class="circle" title="Terminserie">S</span>
              </ng-container>
            </div>
          </ng-container>
          <div fxLayout="row wrap" fxLayoutGap="12px grid" style="padding-bottom: 20px">
            <div
              fxFlex="33%"
              fxFlex.xs="100%"
              fxFlex.sm="100%"
              fxFlex.md="100%"
              fxFlex.lg="33%"
              *ngFor="let formField of appt.formFields"
            >
              <ng-container *ngIf="formField.key !== 'status'">
                <mat-form-field class="noHint full-width">
                  <mat-label>{{ formField.label }}</mat-label>
                  <input [type]="formField.type.toLowerCase()" matInput [value]="formField.value" disabled />
                  <mat-icon
                    *ngIf="isOverdueAppointment(formField)"
                    matSuffix
                    style="color: rgba(255, 0, 0, 0.8)"
                    title="Termin ist überfällig"
                    >error</mat-icon
                  >
                </mat-form-field>
              </ng-container>
              <ng-container *ngIf="formField.key === 'status'">
                <mat-form-field class="noHint full-width">
                  <mat-label>{{ formField.label }}</mat-label>
                  <mat-select
                    [value]="formField.value"
                    (selectionChange)="changeStatus($event.value, appt.id, formField.id)"
                  >
                    <mat-option *ngFor="let opt of formField.options" [value]="opt.key">
                      {{ opt.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #noAppointments>
        <p>Keine Termine im gewählten Zeitraum offen.</p>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
