<div id="gantt" class="gantt" #gantt>
  <div class="content-container">
    <span style="display: flex; margin-bottom: 10px">
      <span class="full-width-spacer"></span>
      <mat-button-toggle-group
        name="chartMetric"
        #group="matButtonToggleGroup"
        multiple
        aria-label="Chart Metric"
        [(ngModel)]="viewTypeSelected"
        (change)="changeViewType($event)"
      >
        <mat-button-toggle class="md-button" value="YEARS">Jahre</mat-button-toggle>
        <mat-button-toggle class="md-button" value="MONTHS">Monate</mat-button-toggle>
        <mat-button-toggle class="md-button" value="WEEKS">Wochen</mat-button-toggle>
        <mat-button-toggle class="md-button" value="DAYS">Tage</mat-button-toggle>
      </mat-button-toggle-group>
    </span>
    <ng-container *ngIf="vm$ | async as vm">
      <app-chart
        #ganttChart
        [timelineData]="vm.selectedTimeline"
        [milestoneData]="vm.milestoneData"
        [eventData]="filteredEventList"
        [taskData]="vm.taskData"
        [incrementsData]="vm.incrementsData"
        id="gantt{{ vm.selectedTimeline.id }}"
        [active]="false"
        [showTitle]="false"
        [projectApproachModifiable]="true"
        [showActions]="true"
        (projectApproachChanged)="setData()"
      ></app-chart>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="appointmentsList">
  <ng-container *ngIf="vm$ | async as vmE">
    <app-data-table
      title="Überfällige Termine"
      icon="warning_amber"
      [data]="filteredOverdueEventList"
      [displayedColumns]="['eventType', 'dateTime', 'title', 'status', 'select']"
      [timelineData]="selectedTimeline"
      [editable]="vmE.selectedTimeline.archived"
      (statusChanged)="changeStatus($event)"
      (visibilityChanged)="toggleVisibility($event)"
      (filterChanged)="refreshOverdueData($event)"
    >
    </app-data-table>
  </ng-container>

  <ng-container *ngIf="vm$ | async as vmE">
    <app-data-table
      title="Offene Termine"
      icon="event_note"
      [data]="filteredOpenEventList"
      [displayedColumns]="['eventType', 'dateTime', 'title', 'status', 'select']"
      [timelineData]="selectedTimeline"
      [editable]="vmE.selectedTimeline.archived"
      (statusChanged)="changeStatus($event)"
      (visibilityChanged)="toggleVisibility($event)"
      (filterChanged)="refreshOpenData($event)"
    >
    </app-data-table>
  </ng-container>
</ng-container>
