.full-width-spacer {
  flex: 1 1 auto;
}

.mat-form-field--inline .mat-form-field {
  margin-right: 10px;
}

.mat-sidenav-container {
  width: 100%;
  height: calc(100vh - 84px);
  background-color: transparent;
  margin-top: 15px;
}

mat-sidenav-content {
  background-color: white;
  align-items: center;
  justify-content: center;
}

.operationType-container {
  display: inline-block;
  padding: 6px 9px 9px 9px;
  background-color: rgba(0, 0, 0, 0.04);
  width: 190.5px;
  height: 51.326px;
  border-bottom: 0.5px solid grey;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.label {
  width: 100%;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin: 0;
}

.name {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-input-element:disabled {
  color: black;
}

.appointments-card {
  width: 50%;
  margin: 10px;
}

.circle {
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background-color: #3f51b5;
  color: #fff;
  display: inline-block;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.floatLabelNever {
  margin-bottom: -1.25em;
  border-top: 0;
  margin-top: 4px;
}

.noHint {
  margin-bottom: -1.25em;
}

.matCardContentHeader {
  padding: 0 8px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.matCardContentHeaderTitle {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

::ng-deep .floatLabelNever .mat-form-field-infix {
  border-top: 0;
}

.appointmentTypeIcon {
  float: left;
  width: 32px;
  margin-top: 5px;
}
