<div id="gantt" class="gantt" #gantt>
  <div class="content-container" style="padding-right: 15px">
    <span style="display: flex; margin-bottom: 10px">
      <span class="full-width-spacer"></span>
      <mat-button-toggle-group
        name="chartMetric"
        #group="matButtonToggleGroup"
        multiple
        aria-label="Chart Metric"
        [(ngModel)]="viewTypeSelected"
        (change)="changeViewType($event)"
      >
        <mat-button-toggle class="md-button" value="YEARS">Jahre</mat-button-toggle>
        <mat-button-toggle class="md-button" value="MONTHS">Monate</mat-button-toggle>
        <mat-button-toggle class="md-button" value="WEEKS">Wochen</mat-button-toggle>
        <mat-button-toggle class="md-button" value="DAYS">Tage</mat-button-toggle>
      </mat-button-toggle-group>
    </span>
    <ng-container *ngIf="vm$ | async as vm">
      <app-chart
        #ganttChart
        [timelineData]="vm.selectedTimeline"
        [milestoneData]="vm.milestoneData"
        [taskData]="vm.taskData"
        [incrementsData]="vm.incrementsData"
        id="gantt{{ vm.selectedTimeline.id }}"
        [isAdmin]="false"
        [showActions]="true"
        (projectApproachChanged)="setData()"
      ></app-chart>
    </ng-container>
  </div>
</div>
