<div id="gantt" class="gantt" #gantt>
  <div class="content-container">
    <span style="display: flex; margin-bottom: 10px">
      <span class="full-width-spacer"></span>
      <mat-button-toggle-group
        name="chartMetric"
        #group="matButtonToggleGroup"
        multiple
        aria-label="Chart Metric"
        (change)="changeViewType($event)"
      >
        <mat-button-toggle class="md-button" value="YEARS">Jahre</mat-button-toggle>
        <mat-button-toggle class="md-button" value="MONTHS">Monate</mat-button-toggle>
        <mat-button-toggle class="md-button" value="WEEKS">Wochen</mat-button-toggle>
        <mat-button-toggle class="md-button" value="DAYS">Tage</mat-button-toggle>
      </mat-button-toggle-group>
    </span>
    <div *ngIf="timelineData" class="row chart-container">
      <div class="col template-controller-column">
        <div class="template-controller-container">
          <div class="template-controller" style="top: 200px">
            <h2>Aktuell</h2>
          </div>
          <div class="template-controller" style="top: 400px">
            <h2 class="text-template">Standard</h2>
            <img class="logo" *ngIf="selectedOperationTypeId === 2" src="assets/img/VMXT-logo.png" alt="VMXT" />
            <img class="logo" *ngIf="selectedOperationTypeId === 3" src="assets/img/UfAB-logo.png" alt="UfAB" />
            <ng-container *ngIf="vm$ | async as vm">
              <button
                *ngIf="!vm.selectedTimeline.archived"
                mat-stroked-button
                color="primary"
                (click)="updateTemplateStandard()"
                [disabled]="!userHasProjectEditRights"
              >
                Übernehmen
              </button>
            </ng-container>
            <div class="row justify-content-center">
              <div class="button-template">
                <button mat-icon-button (click)="onPrevStandard()">
                  <mat-icon color="primary">keyboard_arrow_left</mat-icon>
                </button>
                <button mat-icon-button (click)="onNextStandard()">
                  <mat-icon color="primary">keyboard_arrow_right</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="template-controller" style="top: 660px" *ngIf="nonStandardTemplatesList.length > 0">
            <h2 class="text-template">Zeitpläne anderer Projekte</h2>
            <ng-container *ngIf="vm$ | async as vm">
              <button
                *ngIf="!vm.selectedTimeline.archived"
                mat-stroked-button
                color="primary"
                (click)="updateTemplateNonStandard()"
                [disabled]="!userHasProjectEditRights"
              >
                Übernehmen
              </button>
            </ng-container>
            <div class="row justify-content-center">
              <div class="button-template">
                <button mat-icon-button (click)="onPrevNonStandard()">
                  <mat-icon color="primary">keyboard_arrow_left</mat-icon>
                </button>
                <button mat-icon-button (click)="onNextNonStandard()">
                  <mat-icon color="primary">keyboard_arrow_right</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="full-width">
          <ng-container *ngIf="vm$ | async as vm">
            <app-templates
              #templateChart
              [timelineData]="vm.selectedTimeline"
              [templateData]="vm.selectedTemplates"
              [allTemplates]="vm.templatesData"
              id="template{{ vm.selectedTimeline.id }}"
              [projectApproachModifiable]="true"
              (projectApproachChanged)="setData()"
            ></app-templates>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
