.menu-spacer {
    width: 2em;
}

.full-width-spacer {
  flex: 1 1 auto;
}

.logo {
  height: 2em;
}

.activeButton {
  background-color: rgba(0, 0, 0, 0.3);
}

.buttonMenuText {
  margin-left: 10px;
}
