<mat-toolbar class="mat-elevation-z6" color="primary">
  <mat-toolbar-row>
    <img class="logo" src="assets/img/dipa-logo-weiss.svg" alt="DiPA" />
    <span class="menu-spacer"></span>
    <div>
      <a routerLinkActive="activeButton" mat-button [routerLink]="'/home'" title="Home">
        <mat-icon>home</mat-icon>
        <span fxHide.lt-md class="buttonMenuText">Home</span>
      </a>
      <a routerLinkActive="activeButton" mat-button [routerLink]="'/gantt'" title="Meine Projekte">
        <span
          class="mat-button-wrapper"
          (click)="$event.stopPropagation(); $event.preventDefault()"
          [matMenuTriggerFor]="ganttMenu.menu"
        >
          <mat-icon>topic</mat-icon>
          <span fxHide.lt-md class="buttonMenuText">Meine Projekte</span>
          <app-gantt-menu #ganttMenu="gantMenuComponent"></app-gantt-menu>
          <mat-icon>arrow_drop_down</mat-icon>
        </span>
      </a>
      <a
        *ngIf="isUserInOrganisationRoles('PMO') || hasProjectRoles()"
        routerLinkActive="activeButton"
        mat-button
        [routerLink]="'/overview'"
        title="Projektübersicht"
      >
        <mat-icon>view_list</mat-icon>
        <span fxHide.lt-md class="buttonMenuText">Projektübersicht</span>
      </a>
      <a
        *ngIf="isUserInOrganisationRoles('PMO')"
        routerLinkActive="activeButton"
        mat-button
        [routerLink]="'/configuration'"
        title="Organisationsweite Konfiguration"
      >
        <mat-icon>engineering</mat-icon>
        <span fxHide.lt-md class="buttonMenuText">Organisationsweite Konfiguration</span>
      </a>
      <a
        style="margin-left: 10px; border-color: white; border-width: 2px"
        mat-stroked-button
        (click)="openProjectDialog()"
        title="Projekt anlegen"
      >
        <mat-icon>add_circle</mat-icon>
        <span fxHide.lt-md class="buttonMenuText">Projekt anlegen</span>
      </a>
    </div>
    <span class="full-width-spacer"></span>
    <div *ngIf="isLoggedIn()">
      <a mat-button [matMenuTriggerFor]="profileSettingsMenu.menu">
        <mat-icon>account_circle</mat-icon>
        <app-profile-settings-menu #profileSettingsMenu="profileSettingsMenu"></app-profile-settings-menu>
      </a>
    </div>
    <div id="version" class="mat-small">Version: TBD</div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
