<mat-toolbar class="mat-elevation-z6" color="primary">
  <mat-toolbar-row>
    <img class="logo" src="/assets/img/dipa-logo-weiss.svg" alt="DiPA" />
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home/tour'"><mat-icon>home</mat-icon>Home</a>
      <a mat-button [matMenuTriggerFor]="ganttMenu.menu">
        <mat-icon>bar_chart</mat-icon>Meine Projekte
        <app-gantt-menu #ganttMenu="gantMenuComponent"></app-gantt-menu>
        <mat-icon>arrow_drop_down</mat-icon>
      </a>
      <a *ngIf="isUserInOrganisationRoles('PMO') || hasProjectRoles()" mat-button [routerLink]="'/overview/projects'">
        <mat-icon>supervisor_account</mat-icon>
        Projektübersicht
      </a>
      <a *ngIf="isUserInOrganisationRoles('PMO')" mat-button [routerLink]="'/schedules/configuration'">
        <mat-icon>date_range</mat-icon>
        Zeitplankonfiguration
      </a>
      <a mat-raised-button (click)="openProjectDialog()">
        <mat-icon>add_circle</mat-icon>
        Projekt anlegen
      </a>
    </div>
    <span class="full-width-spacer"></span>
    <div *ngIf="isLoggedIn()">
      <a mat-button [matMenuTriggerFor]="profileSettingsMenu.menu">
        <mat-icon>account_circle</mat-icon>
        <app-profile-settings-menu #profileSettingsMenu="profileSettingsMenu"></app-profile-settings-menu>
      </a>
    </div>
    <div id="version" class="mat-small">Version: TBD</div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
