<div id="toolkit">
  <div class="content-container" style="padding-right: 15px">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" novalidate>
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>AKZ</mat-label>
            <label>
              <input
                matInput
                maxlength="255"
                placeholder="AKZ eingeben"
                value="{{ projectData?.akz }}"
                formControlName="akz"
                (change)="onSubmit(myForm)"
              />
            </label>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Projektname</mat-label>
            <label>
              <input
                matInput
                maxlength="255"
                placeholder="Namen eingeben"
                value="{{ projectData?.name }}"
                formControlName="name"
                (change)="onSubmit(myForm)"
              />
            </label>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Projektgröße</mat-label>
            <mat-select
              #projectSizeSelect
              value="{{ projectData?.projectSize }}"
              formControlName="projectSize"
              (selectionChange)="onSubmit(myForm)"
            >
              <mat-select-trigger>{{ displayProjectSize(projectSizeSelect.value) }}</mat-select-trigger>
              <mat-option *ngFor="let size of sizes" [value]="size.value" class="multi-line-option">
                <h4 mat-line>{{ size.display }}</h4>
                <p mat-line>{{ size.description }}</p>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Auftraggeber</mat-label>
            <label>
              <input
                matInput
                maxlength="255"
                placeholder="Auftraggeber eingeben"
                value="{{ projectData?.client }}"
                formControlName="client"
                (change)="onSubmit(myForm)"
              />
            </label>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Referat</mat-label>
            <label>
              <input
                matInput
                maxlength="255"
                placeholder="Referat eingeben"
                value="{{ projectData?.department }}"
                formControlName="department"
                (change)="onSubmit(myForm)"
              />
            </label>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Projekteigner/-in</mat-label>
            <label>
              <input
                matInput
                maxlength="255"
                placeholder="Projekteigner/-in eingeben"
                value="{{ projectData?.projectOwner }}"
                formControlName="projectOwner"
                (change)="onSubmit(myForm)"
              />
            </label>
          </mat-form-field>
        </div>
      </div>
    </form>

    <ng-container>
      <app-vertical-stepper></app-vertical-stepper>
    </ng-container>
  </div>
</div>
