<div style="display: flex; flex-direction: column; flex: 1 1 auto; min-height: 0px; max-height: 100%">
  <div mat-dialog-title>
    <div style="display: flex; justify-content: space-between">
      <div>Projekteigenschaften</div>
      <div>
        <button mat-button class="roundedButton" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            *ngIf="data.project"
            mat-menu-item
            title="Projekt archivieren"
            aria-label="Projekt archivieren"
            (click)="archiveProject()"
          >
            <mat-icon>archive</mat-icon>
            Projekt archivieren
          </button>
        </mat-menu>
        <button mat-button class="roundedButton" (click)="onCloseClick()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div mat-dialog-content fxLayout="row nowrap">
    <div fxFlex="50%" style="overflow: hidden auto; padding: 0 16px">
      <h2 mat-dialog-h2-title>{{ data.project.name }}</h2>
      <div>
        <mat-selection-list color="primary" #shoes>
          <mat-list-option *ngFor="let shoe of typesOfShoes">
            {{ shoe }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div fxFlex="50%" style="overflow: hidden auto; padding: 0 16px 16px 16px">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="50%" style="padding: 0 16px 16px 16px">
          <button
            *ngIf="!data.project.archived"
            mat-stroked-button
            title="Projekt archivieren"
            aria-label="Projekt archivieren"
            (click)="archiveProject()"
          >
            <mat-icon>archive</mat-icon>
            Projekt archivieren
          </button>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="16px grid" style="padding-top: 16px">
        <div>
          <form [formGroup]="formGroup" (submit)="onSubmit(formGroup)">
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title> Data </mat-panel-title>
                </mat-expansion-panel-header>

                <div fxLayout="row wrap" fxLayoutGap="16px grid">
                  <mat-form-field
                    fxFlex="50%"
                    fxFlex.xs="100%"
                    fxFlex.sm="100%"
                    fxFlex.md="50%"
                    fxFlex.lg="50%"
                    appearance="fill"
                  >
                    <mat-label>Start Datum</mat-label>
                    <input
                      matInput
                      placeholder="Start date"
                      formControlName="start"
                      required
                      type="date"
                      [max]="formGroup.get('end').value"
                    />
                  </mat-form-field>
                  <mat-form-field
                    fxFlex="50%"
                    fxFlex.xs="100%"
                    fxFlex.sm="100%"
                    fxFlex.md="50%"
                    fxFlex.lg="50%"
                    appearance="fill"
                  >
                    <mat-label>End Datum</mat-label>
                    <input
                      matInput
                      placeholder="End date"
                      formControlName="end"
                      required
                      type="date"
                      [min]="formGroup.get('start').value"
                    />
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title> Destination </mat-panel-title>
                  <!--          <mat-panel-description>-->
                  <!--            Type the country name-->
                  <!--            <mat-icon>map</mat-icon>-->
                  <!--          </mat-panel-description>-->
                </mat-expansion-panel-header>

                <div fxLayout="row wrap" fxLayoutGap="16px grid">
                  <mat-form-field fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="50%">
                    <mat-label>Vorhabensart</mat-label>
                    <mat-select formControlName="operationTypeId" [(value)]="operationTypeId" required>
                      <mat-option *ngFor="let operationType of operationTypesList" [value]="operationType.id">
                        {{ operationType.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="50%">
                    <mat-label>Vorgehensweise</mat-label>
                    <mat-select formControlName="projectApproachId" required>
                      <mat-option
                        *ngFor="let projectApproach of filterProjectApproaches(operationTypeId)"
                        [value]="projectApproach.id"
                      >
                        {{ projectApproach.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="50%">
                    <mat-label>Projekttyp</mat-label>
                    <mat-select formControlName="projectType" required>
                      <mat-option *ngFor="let projectType of projectTypesList" [value]="projectType">
                        {{ projectType }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title> Day of the trip </mat-panel-title>
                  <!--          <mat-panel-description>-->
                  <!--            Inform the date you wish to travel-->
                  <!--            <mat-icon>date_range</mat-icon>-->
                  <!--          </mat-panel-description>-->
                </mat-expansion-panel-header>

                <div fxLayout="row wrap" fxLayoutGap="16px grid">
                  <mat-form-field fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="33%">
                    <mat-label>AKZ</mat-label>
                    <label>
                      <input matInput maxlength="255" formControlName="akz" />
                      <!--                (change)="onSubmit(projectForm)"-->
                      <!--                (focus)="onFocus($event, ['akz'])"-->
                      <!--                (keyup.esc)="onEscape($event, ['akz'])"-->
                    </label>
                  </mat-form-field>

                  <mat-form-field fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="33%">
                    <mat-placeholder>Projekteigner</mat-placeholder>
                    <mat-select formControlName="projectOwner">
                      <mat-option *ngFor="let user of allUsers" [value]="user.id">
                        {{ user.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="33%">
                    <mat-label>Projektgröße</mat-label>
                    <mat-select #projectSizeSelect formControlName="projectSize" required>
                      <mat-select-trigger>{{ displayProjectSize(projectSizeSelect.value) }}</mat-select-trigger>
                      <mat-option *ngFor="let size of sizes" [value]="size.value" class="multi-line-option">
                        <h4 mat-line>{{ size.display }}</h4>
                        <p mat-line>{{ size.description }}</p>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="33%">
                    <mat-label>Auftraggeber</mat-label>
                    <label>
                      <input matInput maxlength="255" formControlName="client" />
                      <!--                (change)="onSubmit(projectForm)"-->
                      <!--                (focus)="onFocus($event, ['client'])"-->
                      <!--                (keyup.esc)="onEscape($event, ['client'])"-->
                    </label>
                  </mat-form-field>

                  <mat-form-field fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="33%">
                    <mat-label>Referat</mat-label>
                    <label>
                      <input matInput maxlength="255" formControlName="department" />
                      <!--                (change)="onSubmit(projectForm)"-->
                      <!--                (focus)="onFocus($event, ['department'])"-->
                      <!--                (keyup.esc)="onEscape($event, ['department'])"-->
                    </label>
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--<div mat-dialog-actions class="justify-content-end">-->
  <!--  <button mat-raised-button color="primary" type="submit" (click)="onSubmit(formGroup)">Speichern</button>-->
  <!--  <button mat-button (click)="onCloseClick()">Abbrechen</button>-->
  <!--</div>-->
</div>
