.mat-sidenav-container {
  width: 100%;
  height: calc(100vh - 84px);
  background-color: transparent;
  margin-top: 15px;
}

mat-sidenav-content {
  background-color: white;
  height: 100%;
  align-items: center;
  justify-content: center;
}
