table {
  width: 100%;
}

tr.example-element-row:hover {
  background: whitesmoke;
}

mat-icon.mat-card-avatar {
  width: 44px;
  height: 44px;
  font-size: 44px;
  color: rgba(0, 0, 0, 0.65);
}
