mat-option.multi-line-option {
  .mat-line {
    line-height: 1.2em;
    margin-bottom: 2px;
  }

  h4.mat-line {
    font-size: 14px;
  }

  p.mat-line {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
  }
}
