.full-width-spacer {
  flex: 1 1 auto;
}

.chart-toolbar {

  mat-form-field {
    div.mat-form-field-flex {
      align-items: flex-end;
    }

    div.mat-form-field-prefix {
      padding-right: 12px !important;
    }
  }
}

.timelineTitle {
  margin-right: 15px;
}

.timelineTitleButton {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
}

.mat-toolbar {
  font-size: 14px;
  font-weight: normal;
}

.mat-form-field-wrapper {
  padding-top: 1.25em;
}

.chartHeader {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.noHint {
  margin-bottom: -1.25em;
}
