.tooltip {
  background-color: rgba(0, 0, 0, 0.54);
}

.container {

  #gantt {
    height: 70vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;

    mat-select {
      position: absolute;
      top: 0;
      right: 0px;
      width: 20%;
      padding: 5px;
      font-size: 1rem;
      font-family: 'Roboto';
      z-index: 100;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
    .half {
      height: 50%;
    }
  }
}


mat-option ::ng-deep .city {
  font-size: 1rem;
  font-family: 'Roboto';
}

@media screen and (max-width: 767px) {
  .container {
    .title {
      font-size: 1.5rem;
      color: red;
    }
    text.milestoneLabel {
      fill: none !important;
    }
  }
}

@media screen and (max-width: 414px) {
  .container {
    .title {
      font-size: 1rem;
    }
  }
}

span.mat-button-toggle-label-content{
  line-height: 36px !important;
}


