<mat-sidenav-container class="container" autosize>
    <mat-sidenav #drawer *ngIf="milestoneMenuOn" mode="side" opened position="end">
        <div class="card-container">
            <div class="card-header">
                <div class="subheading-1 title">Meilenstein</div>
                <button mat-icon-button color="warn" (click)="closeMenu($event)"><mat-icon>close</mat-icon></button>
            </div>
            <div class="card-content">
                <p style="font-weight: 500; font-size: medium; text-align: center;">{{milestoneDataMenu.name}}</p>
                <p style="font-weight: 200; font-size: small; text-align: center; color: grey;">
                      Fällig am {{getDate(milestoneDataMenu.date)}}
                </p>
                <p>Status</p>
                <mat-radio-group [(ngModel)]="milestoneStatusId" *ngFor="let status of statusList">
                    <div class="row">
                        <mat-radio-button [value]="status.id" (change)="changeStatus($event)">
                            {{status.statusName}}
                        </mat-radio-button>
                    </div>
                    <br>
                </mat-radio-group>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="chart">
            <figure id="chart" (resized)="onResized($event)" #chart></figure>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
